.checkout-page {
    min-height: calc(100vh - 200px);
    padding: 50px 60px;
    background-color: #e8d2bc;

    .checkout-header {
        text-align: center;
        margin-bottom: 40px;

        h3 {
            color: #412719;
            margin-bottom: 10px;
        }

        p {
            color: #3e2b22;
        }
    }

    .checkout-container {
        max-width: 1100px;
        margin: auto;

        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .checkout-form,
    .order-summary {
        background-color: #fffaf6;
        padding: 30px;
        border-radius: 10px;
    }

        h3 {
        color: #412719;
        font-size: 20px;
        margin-top: 10px;
      }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
            color: #412719;
            font-weight: 550;
            margin-bottom: 7px;
        }

        input,
        textarea {
            padding: 12px;
            border: 1px solid #d6bfae;
            border-radius: 6px;
            font-size: 15px;
            font-family: inherit;
            box-sizing: border-box;

            &:focus {
                outline: none;
                border-color: #8b6a55;
            }
        }

        textarea {
            min-height: 100px;
            resize: vertical;
        }

        small {
            color: #a33;
            margin-top: 5px;
        }
    }

    .form-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .payment-option {
        padding: 15px;
        border: 1px solid #d6bfae;
        border-radius: 6px;
        margin-bottom: 25px;

        label {
            color: #412719;
            cursor: pointer;
        }

        input {
            margin-right: 10px;
        }
    }

    .place-order {
        width: 100%;
        padding: 14px;

        border: none;
        border-radius: 6px;

        background-color: #8b6a55;
        color: white;

        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #6f503e;
        }
    }

    .order-summary {
        height: fit-content;

        h3 {
            margin-top: 0;
        }
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        padding: 12px 0;

        color: #765747;
        font-size: 14px;
    }

    .summary-total {
        display: flex;
        justify-content: space-between;

        color: #412719;
        font-size: 20px;
    }
}


@media (max-width: 800px) {

  .checkout-page {
    padding: 30px 20px;

    .checkout-container {
      grid-template-columns: 1fr;
    }

    .form-row {
      grid-template-columns: 1fr;
    }
  }

}